---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/v1/webhooks
    body:
      encoding: UTF-8
      string: description=test&event_types=accepted&url=http%3A%2F%2Fexample.com%2Fmailgun%2Fevents
    headers:
      Authorization:
      - Basic xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - xxx
    body:
      encoding: UTF-8
      string: '{"webhook_id":"test"}

        '
  recorded_at: Mon, 25 May 2026 09:11:02 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v1/webhooks?webhook_ids=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - xxx
    body:
      encoding: UTF-8
      string: '{"webhooks":[{"webhook_id":"test","description":"test","url":"http://example.com/mailgun/events","event_types":["accepted"],"created_at":"2026-05-25T09:11:02Z"}]}

        '
  recorded_at: Mon, 25 May 2026 09:16:27 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v1/webhooks/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - xxx
    body:
      encoding: UTF-8
      string: '{"webhook_id":"test","description":"test","url":"http://example.com/mailgun/events","event_types":["accepted"],"created_at":"2026-05-25T09:11:02Z"}

        '
  recorded_at: Mon, 25 May 2026 09:22:12 GMT
[...]
- request:
    method: delete
    uri: https://api.mailgun.net/v1/webhooks?all=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Mailgun-Key-Id:
      - xxx
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 25 May 2026 20:28:16 GMT
recorded_with: VCR 6.4.0
