---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/v1/analytics/tags
    body:
      encoding: UTF-8
      string: include_subaccounts=true&pagination=%7Bsort%3A+%22lastseen%3Adesc%22%2C+limit%3A+10%7D
    headers:
      Authorization:
      - Basic xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - xxx
    body:
      encoding: UTF-8
      string: '{"items":[{"account_id":"test","parent_account_id":"test","tag":"test1","description":"","first_seen":"Wed,
        28 Jan 2026 18:27:11 +0000","last_seen":"Wed, 28 Jan 2026 18:00:00 +0000","metrics":{},"account_name":"Alex
        Lebedev"}],"pagination":{"sort":"lastseen:desc","limit":10}}

        '
  recorded_at: Wed, 28 Jan 2026 18:49:42 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v1/analytics/tags/limits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - xxx
    body:
      encoding: UTF-8
      string: '{"limit":100000,"count":1,"limit_reached":false}

        '
  recorded_at: Wed, 28 Jan 2026 18:55:47 GMT
[...]
- request:
    method: delete
    uri: https://api.mailgun.net/v1/analytics/tags
    body:
      encoding: UTF-8
      string: '{"tag":"test1"}'
    headers:
      Authorization:
      - Basic xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - xxx
    body:
      encoding: UTF-8
      string: '{"message":"Tag deleted"}

        '
  recorded_at: Wed, 28 Jan 2026 20:05:54 GMT
recorded_with: VCR 6.4.0
