---
http_interactions:
- request:
    method: get
    uri: https://api.mailgun.net/v1/keys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - xxx
    body:
      encoding: UTF-8
      string: '{"total_count":1,"items":[{"id":"test","description":"Alex","kind":"user","role":"admin","created_at":"2024-11-27T11:45:29","updated_at":"2024-11-27T11:45:29","is_disabled":false,"domain_name":null,"requestor":null,"user_name":null}]}

        '
  recorded_at: Fri, 26 Jun 2026 16:39:35 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/v1/keys/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - xxx
    body:
      encoding: UTF-8
      string: '{"message":"key deleted"}

        '
  recorded_at: Fri, 26 Jun 2026 17:08:22 GMT
- request:
    method: post
    uri: https://api.mailgun.net/v1/keys
    body:
      encoding: UTF-8
      string: description=test+test&kind=user&role=admin
    headers:
      Authorization:
      - Basic xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - xxx
    body:
      encoding: UTF-8
      string: '{"message":"great success","key":{"id":"test","description":"test test","kind":"user","role":"admin","created_at":"2026-06-26T17:14:08","updated_at":"2026-06-26T17:14:08","is_disabled":false,"domain_name":null,"requestor":null,"user_name":null,"secret":"xxx"}}

        '
  recorded_at: Fri, 26 Jun 2026 17:14:08 GMT
- request:
    method: post
    uri: https://api.mailgun.net/v1/keys/public
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - xxx
    body:
      encoding: UTF-8
      string: '{"key":"pubkey-test","message":"The public
        API key has been successfully regenerated."}

        '
  recorded_at: Fri, 26 Jun 2026 17:34:40 GMT
recorded_with: VCR 6.4.0
