---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/bounces
    body:
      encoding: UTF-8
      string: address=integration-test%2Bemail%40&code=550&error=Integration+Test
    headers:
      Authorization:
      - Basic xxx==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"message":"Address has been added to the bounces table","address":"integration-test+email@"}

        '
  recorded_at: Mon, 24 Feb 2025 23:15:10 GMT
- request:
    method: get
    uri: https://api.mailgun.net/bounces/integration-test+email@
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx==
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"address":"integration-test+email@","code":"550","error":"Integration
        Test","created_at":"Sun, 26 Jan 2025 07:29:04 UTC"}

        '
  recorded_at: Mon, 24 Feb 2025 23:15:11 GMT
- request:
    method: get
    uri: https://api.mailgun.net/bounces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx==
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"items":[{"address":"integration-test+email@DOMAIN.TEST","code":"550","error":"Integration
        Test","created_at":"Sun, 26 Jan 2025 07:29:04 UTC"}],"paging":{"first":"https://api.mailgun.net/v3/DOMAIN.TEST/bounces?limit=100&term=","last":"https://api.mailgun.net/v3/DOMAIN.TEST/bounces?page=last&limit=100&term=","next":"https://api.mailgun.net/v3/DOMAIN.TEST/bounces?page=next&address=integration-test%2Bemail%40DOMAIN.TEST&limit=100&term=","previous":"https://api.mailgun.net/v3/DOMAIN.TEST/bounces?page=previous&address=integration-test%2Bemail%40DOMAIN.TEST&limit=100&term="}}

        '
  recorded_at: Mon, 24 Feb 2025 23:15:11 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/bounces/integration-test+email@
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"address":"integration-test+email@DOMAIN.TEST","message":"Bounced
        address has been removed"}

        '
  recorded_at: Sun, 26 Jan 2025 07:29:06 GMT
recorded_with: VCR 3.0.3
