---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/v3/DOMAIN.TEST/bounces
    body:
      encoding: US-ASCII
      string: address=integration-test-email%40DOMAIN.TEST&code=550&error=Integration+Test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"message":"Address has been added to the bounces table","address":"integration-test-email@DOMAIN.TEST"}
  recorded_at: Mon, 26 Jul 2021 14:39:32 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/DOMAIN.TEST/bounces/integration-test-email@DOMAIN.TEST
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"address":"integration-test-email@DOMAIN.TEST","code":"550","error":"Integration Test","created_at":"Mon, 26 Jul 2021 14:39:32 UTC","MessageHash":"4e7b5c06763fbd18060548d8b18687e492b255a7"}
  recorded_at: Mon, 26 Jul 2021 14:39:33 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/DOMAIN.TEST/bounces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"items":[{"address":"integration-test-email@DOMAIN.TEST","code":"550","error":"Integration Test","created_at":"Mon, 26 Jul 2021 14:39:32 UTC","MessageHash":"4e7b5c06763fbd18060548d8b18687e492b255a7"}],"paging":{"first":"https://api.mailgun.net/v3/DOMAIN.TEST/bounces?limit=100","last":"https://api.mailgun.net/v3/DOMAIN.TEST/bounces?page=last&limit=100","next":"https://api.mailgun.net/v3/DOMAIN.TEST/bounces?page=next&address=integration-test-email%40DOMAIN.TEST&limit=100","previous":"https://api.mailgun.net/v3/DOMAIN.TEST/bounces?page=previous&address=integration-test-email%40DOMAIN.TEST&limit=100"}}
  recorded_at: Mon, 26 Jul 2021 14:39:35 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/v3/DOMAIN.TEST/bounces/integration-test-email@DOMAIN.TEST
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"address":"integration-test-email@DOMAIN.TEST","message":"Bounced address has been removed"}
  recorded_at: Mon, 26 Jul 2021 14:39:36 GMT
recorded_with: VCR 3.0.3
