---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/complaints
    body:
      encoding: UTF-8
      string: address=integration-test-email%40
    headers:
      Authorization:
      - Basic xxx==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"address":"integration-test-email@","message":"Address has been added
        to the complaints table"}

        '
  recorded_at: Mon, 24 Feb 2025 23:26:19 GMT
- request:
    method: get
    uri: https://api.mailgun.net/complaints/integration-test-email@
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx==
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"address":"integration-test-email@","created_at":"Sun, 26 Jan 2025
        07:29:06 UTC"}

        '
  recorded_at: Mon, 24 Feb 2025 23:26:20 GMT
- request:
    method: get
    uri: https://api.mailgun.net/complaints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"items":[{"address":"integration-test-email@DOMAIN.TEST","created_at":"Sun,
        26 Jan 2025 07:29:06 UTC"}],"paging":{"first":"https://api.mailgun.net/v3/DOMAIN.TEST/complaints?limit=100&term=","last":"https://api.mailgun.net/v3/DOMAIN.TEST/complaints?page=last&limit=100&term=","next":"https://api.mailgun.net/v3/DOMAIN.TEST/complaints?page=next&address=integration-test-email%40DOMAIN.TEST&limit=100&term=","previous":"https://api.mailgun.net/v3/DOMAIN.TEST/complaints?page=previous&address=integration-test-email%40DOMAIN.TEST&limit=100&term="}}

        '
  recorded_at: Mon, 24 Feb 2025 23:26:20 GMT
[...]
- request:
    method: post
    uri: https://api.mailgun.net/v3/DOMAIN.TEST/complaints
    body:
      encoding: UTF-8
      string: address=integration-test-email%40DOMAIN.TEST
    headers:
      Authorization:
      - Basic xxx==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"address":"integration-test-email@DOMAIN.TEST","message":"Address
        has been added to the complaints table"}

        '
  recorded_at: Tue, 25 Feb 2025 01:31:44 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/DOMAIN.TEST/complaints/integration-test-email@DOMAIN.TEST
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"address":"integration-test-email@DOMAIN.TEST","created_at":"Sun,
        26 Jan 2025 07:29:06 UTC"}

        '
  recorded_at: Sun, 26 Jan 2025 07:29:07 GMT
[...]
- request:
    method: delete
    uri: https://api.mailgun.net/v3/DOMAIN.TEST/complaints/integration-test-email@DOMAIN.TEST
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"address":"integration-test-email@DOMAIN.TEST","message":"Spam complaint
        has been removed"}

        '
  recorded_at: Tue, 25 Feb 2025 01:31:45 GMT
recorded_with: VCR 3.0.3
