---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/v3/DOMAIN.TEST/complaints
    body:
      encoding: US-ASCII
      string: address=integration-test-email%40DOMAIN.TEST
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"address":"integration-test-email@DOMAIN.TEST","message":"Address has been added to the complaints table"}
  recorded_at: Mon, 26 Jul 2021 15:37:59 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/DOMAIN.TEST/complaints/integration-test-email@DOMAIN.TEST
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"address":"integration-test-email@DOMAIN.TEST","created_at":"Mon, 26 Jul 2021 15:38:00 UTC"}
  recorded_at: Mon, 26 Jul 2021 15:38:00 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/DOMAIN.TEST/complaints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"items":[{"address":"integration-test-email@DOMAIN.TEST","created_at":"Mon, 26 Jul 2021 15:38:00 UTC"}],"paging":{"first":"https://api.mailgun.net/v3/DOMAIN.TEST/complaints?limit=100","last":"https://api.mailgun.net/v3/DOMAIN.TEST/complaints?page=last&limit=100","next":"https://api.mailgun.net/v3/DOMAIN.TEST/complaints?page=next&address=integration-test-email%40DOMAIN.TEST&limit=100","previous":"https://api.mailgun.net/v3/DOMAIN.TEST/complaints?page=previous&address=integration-test-email%40DOMAIN.TEST&limit=100"}}
  recorded_at: Mon, 26 Jul 2021 15:38:03 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/v3/DOMAIN.TEST/complaints/integration-test-email@DOMAIN.TEST
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"address":"integration-test-email@DOMAIN.TEST","message":"Spam complaint has been removed"}
  recorded_at: Mon, 26 Jul 2021 15:38:04 GMT
recorded_with: VCR 3.0.3
