---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/v3/domains
    body:
      encoding: US-ASCII
      string: smtp_password&spam_action=tag&wildcard=false&name=integration-test.domain.invalid
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "domain": {
            "created_at": "Mon, 26 Jul 2021 15:42:06 GMT",
            "id": "60fed7ceb351b11512fe4a86",
            "is_disabled": false,
            "name": "integration-test.domain.invalid",
            "require_tls": false,
            "skip_verification": false,
            "smtp_login": "postmaster@integration-test.domain.invalid",
            "smtp_password": "<SECRET_SMTP_PASSWORD>",
            "spam_action": "tag",
            "state": "unverified",
            "type": "custom",
            "web_prefix": "email",
            "web_scheme": "http",
            "wildcard": false
          },
          "message": "Domain has been created",
          "receiving_dns_records": [
            {
              "cached": [],
              "priority": "10",
              "record_type": "MX",
              "valid": "unknown",
              "value": "mxa.mailgun.org"
            },
            {
              "cached": [],
              "priority": "10",
              "record_type": "MX",
              "valid": "unknown",
              "value": "mxb.mailgun.org"
            }
          ],
          "sending_dns_records": [
            {
              "cached": [],
              "name": "integration-test.domain.invalid",
              "record_type": "TXT",
              "valid": "unknown",
              "value": "v=spf1 include:mailgun.org ~all"
            },
            {
              "cached": [],
              "name": "mailo._domainkey.integration-test.domain.invalid",
              "record_type": "TXT",
              "valid": "unknown",
              "value": "k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBWPCsKgaHYeLbxJ83i0qMrIf3EW/j2U2+R+NWv4/MdN0iKUfQHREb8zMKOzv+XQL8mdYeeVurC0YxJzYofwlO/ysKwG0rqM/34qEfyjeDqkTNgLXW5VyKwa2ypBV4VkG38xVAfoUvLSS2OaEZqoiIGSPPMlb5+jY0MoPt4+E6BQIDAQAB"
            },
            {
              "cached": [],
              "name": "email.integration-test.domain.invalid",
              "record_type": "CNAME",
              "valid": "unknown",
              "value": "mailgun.org"
            }
          ]
        }
  recorded_at: Mon, 26 Jul 2021 15:42:07 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/domains/integration-test.domain.invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "domain": {
            "created_at": "Mon,[...]
- request:
    method: get
    uri: https://api.mailgun.net/v3/domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items": [
            {
              "created_at": "Mon, 26 Jul 2021 15:42:06 GMT",
              "id": "60fed7ceb351b11512fe4a86",
              "is_disabled": false,
              "name": "integration-test.domain.invalid",
              "require_tls": false,
              "skip_verification": false,
              "smtp_login": "postmaster@integration-test.domain.invalid",
              "smtp_password": "<SECRET_SMTP_PASSWORD>",
              "spam_action": "tag",
              "state": "unverified",
              "type": "custom",
              "web_prefix": "email",
              "web_scheme": "http",
              "wildcard": false
            }
          ],
          "total_count": 1
        }
  recorded_at: Mon, 26 Jul 2021 15:42:08 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/v3/domains/integration-test.domain.invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Domain will be deleted on the background"
        }
  recorded_at: Mon, 26 Jul 2021 15:42:09 GMT
recorded_with: VCR 3.0.3
