---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/v4/domains
    body:
      encoding: UTF-8
      string: name=integration-test.domain.invalid&smtp_password&spam_action=tag&wildcard=false
    headers:
      Authorization:
      - Basic xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: '{"message":"Domain DNS records have been created","domain":{"created_at":"Mon,
        24 Feb 2025 22:44:03 GMT","id":"67bcf63306fcfd2fb4b7e056","is_disabled":false,"name":"integration-test.domain.invalid","require_tls":false,"skip_verification":false,"smtp_login":"postmaster@integration-test.domain.invalid","spam_action":"tag","state":"unverified","type":"custom","use_automatic_sender_security":false,"web_prefix":"email","web_scheme":"http","wildcard":false},"receiving_dns_records":[{"is_active":true,"cached":[],"priority":"10","record_type":"MX","valid":"unknown","value":"mxa.mailgun.org"},{"is_active":true,"cached":[],"priority":"10","record_type":"MX","valid":"unknown","value":"mxb.mailgun.org"}],"sending_dns_records":[{"is_active":false,"cached":[],"name":"smtp._domainkey.integration-test.domain.invalid","record_type":"TXT","valid":"unknown","value":"k=rsa;
        p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQD9rVPILouDJkj47mEjLdzLbPW2YdSujAiNLw9wZ/Y19iA1h3LTNGOC+UKqjm1lF2SYVLLf1mkpX9ZjhWEQ/MR8WAGCbzTSYOlzLFeAC2g0JO/Xk9kqqlRIJX8vv2XkAwH7mgZA+CPpWghWQLT/IAHlbPy3WSt5uXKZOd/oANzafwIDAQAB"},{"is_active":true,"cached":[],"name":"integration-test.domain.invalid","record_type":"TXT","valid":"unknown","value":"v=spf1
        include:mailgun.org ~all"},{"is_active":true,"cached":[],"name":"email.integration-test.domain.invalid","record_type":"CNAME","valid":"unknown","value":"mailgun.org"}]}

        '
  recorded_at: Mon, 24 Feb 2025 22:44:03 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v4/domains/integration-test.domain.invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: '{"domain":{"created_at":"Mon, 24 Feb 2025 22:44:03 GMT","id":"67b[...]
- request:
    method: get
    uri: https://api.mailgun.net/v4/domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: '{"total_count":2,"items":[{"created_at":"Mon, 24 Feb 2025 22:44:03
        GMT","id":"67bcf63306fcfd2fb4b7e056","is_disabled":false,"name":"integration-test.domain.invalid","require_tls":false,"skip_verification":false,"smtp_login":"postmaster@integration-test.domain.invalid","spam_action":"tag","state":"unverified","type":"custom","use_automatic_sender_security":false,"web_prefix":"email","web_scheme":"http","wildcard":false},{"created_at":"Wed,
        27 Nov 2024 11:44:11 GMT","id":"6747060bb7a2b281f7ca1f6c","is_disabled":false,"name":"sandbox61429c204b744e7fbbb7375ac93ad3d7.mailgun.org","require_tls":false,"skip_verification":false,"smtp_login":"postmaster@sandbox61429c204b744e7fbbb7375ac93ad3d7.mailgun.org","spam_action":"disabled","state":"active","type":"sandbox","use_automatic_sender_security":false,"web_prefix":"email","web_scheme":"http","wildcard":false}]}

        '
  recorded_at: Mon, 24 Feb 2025 22:44:05 GMT
[...]
- request:
    method: post
    uri: https://api.mailgun.net/v3/domains/integration-test.domain.invalid/credentials
    body:
      encoding: UTF-8
      string: login=test_login
    headers:
      Authorization:
      - Basic xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: '{"message":"Created 1 credentials pair(s)","note":"Please store your
        new password(s) now. You won''t be able to see it anymore.","credentials":{"test_login@integration-test.domain.invalid":"5859b4b37276175a5f43c00fa9c94028-3af52e3b-046db944"}}

        '
  recorded_at: Mon, 24 Feb 2025 22:44:06 GMT
- request:
    method: put
    uri: https://api.mailgun.net/v3/domains/integration-test.domain.invalid/credentials/test_login
    body:
      encoding: UTF-8
      string: spec=abc
    headers:
      Authorization:
      - Basic xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: '{"message":"Password changed","note":"Please store your new password(s)
        now. You won''t be able to see it anymore.","credentials":{"test_login@integration-test.domain.invalid":"06cd2f97e409d2fc564ffa6cd835d620-3af52e3b-282ac1b9"}}

        '
  recorded_at: Mon, 24 Feb 2025 22:44:06 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/v3/domains/integration-test.domain.invalid/credentials/test_login
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: '{"message":"Credentials have been deleted","spec":"test_login@integration-test.domain.invalid"}

        '
  recorded_at: Mon, 24 Feb 2025 22:44:07 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/domains/integration-test.domain.invalid/connection
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: '{"require_tls":false,"skip_verification":false}

        '
  recorded_at: Mon, 24 Feb 2025 22:44:07 GMT
[...]
- request:
    method: get
    uri: https://api.mailgun.net/v3/domains/integration-test.domain.invalid/tracking
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: '{"tracking":{"open":{"active":false,"place_at_the_top":false},"click":{"active":false},"unsubscribe":{"active":false,"html_footer":"\n<br>\n<p><a
        href=\"%unsubscribe_url%\">unsubscribe</a></p>\n","text_footer":"\n\nTo unsubscribe
        click: <%unsubscribe_url%>\n\n"},"web_scheme":"https"}}

        '
  recorded_at: Mon, 24 Feb 2025 22:44:08 GMT
- request:
    method: put
    uri: https://api.mailgun.net/v3/domains/integration-test.domain.invalid/tracking/open
    body:
      encoding: UTF-8
      string: active=false
    headers:
      Authorization:
      - Basic xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: '{"message":"Domain tracking settings have been updated","open":{"active":false,"place_at_the_top":false}}

        '
  recorded_at: Mon, 24 Feb 2025 22:44:09 GMT
- request:
    method: put
    uri: https://api.mailgun.net/v3/domains/integration-test.domain.invalid/tracking/click
    body:
      encoding: UTF-8
      string: active=false
    headers:
      Authorization:
      - Basic xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: '{"message":"Domain tracking settings have been updated","click":{"active":false}}

        '
  recorded_at: Mon, 24 Feb 2025 22:44:09 GMT
- request:
    method: put
    uri: https://api.mailgun.net/v3/domains/integration-test.domain.invalid/tracking/unsubscribe
    body:
      encoding: UTF-8
      string: active=false
    headers:
      Authorization:
      - Basic xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: '{"message":"Domain tracking settings have been updated","unsubscribe":{"active":false,"html_footer":"\n<br>\n<p><a
        href=\"%unsubscribe_url%\">unsubscribe</a></p>\n","text_footer":"\n\nTo unsubscribe
        click: <%unsubscribe_url%>\n\n"}}

        '
  recorded_at: Mon, 24 Feb 2025 22:44:10 GMT
- request:
    method: put
    uri: https://api.mailgun.net/v3/domains/integration-test.domain.invalid/dkim_authority
    body:
      encoding: UTF-8
      string: self=true
    headers:
      Authorization:
      - Basic xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: '{"message":"Domain DKIM authority has not been changed","sending_dns_records":[{"is_active":true,"cached":[],"name":"integration-test.domain.invalid","record_type":"TXT","valid":"unknown","value":"v=spf1
        include:mailgun.org ~all"},{"is_active":false,"cached":[],"name":"smtp._domainkey.integration-test.domain.invalid","record_type":"TXT","valid":"unknown","value":"k=rsa;
        p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQD9rVPILouDJkj47mEjLdzLbPW2YdSujAiNLw9wZ/Y19iA1h3LTNGOC+UKqjm1lF2SYVLLf1mkpX9ZjhWEQ/MR8WAGCbzTSYOlzLFeAC2g0JO/Xk9kqqlRIJX8vv2XkAwH7mgZA+CPpWghWQLT/IAHlbPy3WSt5uXKZOd/oANzafwIDAQAB"},{"is_active":true,"cached":[],"name":"email.integration-test.domain.invalid","record_type":"CNAME","valid":"unknown","value":"mailgun.org"}],"changed":false}

        '
  recorded_at: Mon, 24 Feb 2025 22:44:11 GMT
- request:
    method: put
    uri: https://api.mailgun.net/v3/domains/integration-test.domain.invalid/dkim_selector
    body:
      encoding: UTF-8
      string: dkim_selector=mailo1
    headers:
      Authorization:
      - Basic xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: '{"message":"DKIM selector changed"}

        '
  recorded_at: Mon, 24 Feb 2025 22:44:11 GMT
- request:
    method: put
    uri: https://api.mailgun.net/v3/domains/integration-test.domain.invalid/web_prefix
    body:
      encoding: UTF-8
      string: web_prefix=email
    headers:
      Authorization:
      - Basic xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: '{"message":"Domain web prefix updated"}

        '
  recorded_at: Mon, 24 Feb 2025 22:44:12 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v4/domains/integration-test.domain.invalid/keys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: '{"items":[{"signing_domain":"integration-test.domain.invalid","selector":"mailo1","dns_record":{"is_active":false,"cached":[],"name":"mailo1._domainkey.integration-test.domain.invalid","record_type":"TXT","valid":"unknown","value":"k=rsa;
        p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQD9rVPILouDJkj47mEjLdzLbPW2YdSujAiNLw9wZ/Y19iA1h3LTNGOC+UKqjm1lF2SYVLLf1mkpX9ZjhWEQ/MR8WAGCbzTSYOlzLFeAC2g0JO/Xk9kqqlRIJX8vv2XkAwH7mgZA+CPpWghWQLT/IAHlbPy3WSt5uXKZOd/oANzafwIDAQAB"}}]}

        '
  recorded_at: Mon, 24 Feb 2025 22:44:12 GMT
- request:
    method: put
    uri: https://api.mailgun.net/v4/domains/integration-test.domain.invalid/keys/mailo1/activate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: '{"message":"domain key activated"}

        '
  recorded_at: Mon, 24 Feb 2025 22:44:13 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/integration-test.domain.invalid/stats/total?event=clicked
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: '{"description":"","start":"Mon, 17 Feb 2025 00:00:00 UTC","end":"Mon,
        24 Feb 2025 00:00:00 UTC","resolution":"day","stats":[{"time":"Mon, 17 Feb
        2025 00:00:00 UTC","clicked":{"total":0}},{"time":"Tue, 18 Feb 2025 00:00:00
        UTC","clicked":{"total":0}},{"time":"Wed, 19 Feb 2025 00:00:00 UTC","clicked":{"total":0}},{"time":"Thu,
        20 Feb 2025 00:00:00 UTC","clicked":{"total":0}},{"time":"Fri, 21 Feb 2025
        00:00:00 UTC","clicked":{"total":0}},{"time":"Sat, 22 Feb 2025 00:00:00 UTC","clicked":{"total":0}},{"time":"Sun,
        23 Feb 2025 00:00:00 UTC","clicked":{"total":0}},{"time":"Mon, 24 Feb 2025
        00:00:00 UTC","clicked":{"total":0}}]}

        '
  recorded_at: Mon, 24 Feb 2025 22:44:13 GMT
[...]
- request:
    method: put
    uri: https://api.mailgun.net/v4/domains/integration-test.domain.invalid/keys/tetetet/deactivate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: '{"message":"domain key deactivated"}

        '
  recorded_at: Wed, 26 Feb 2025 21:54:43 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/v1/dkim/keys?params=%7B:signing_domain=%3E%22integration-test.domain.invalid%22,%20:selector=%3E%22test%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Basic realm="MG API"
    body:
      encoding: UTF-8
      string: '{"message":"success"}

        '
  recorded_at: Thu, 28 Aug 2025 12:45:35 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/v1/dkim/keys?params=%7Bsigning_domain:%20%22integration-test.domain.invalid%22,%20selector:%20%22test%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Basic realm="MG API"
    body:
      encoding: UTF-8
      string: '{"message":"success"}

        '
  recorded_at: Thu, 28 Aug 2025 14:47:08 GMT
recorded_with: VCR 3.0.3
