---
http_interactions:
- request:
    method: get
    uri: https://api.mailgun.net/v4/address/validate?address=alice@mailgun.net
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Basic realm="MG API"
    body:
      encoding: UTF-8
      string: |-
        {
          "address": "alice@mailgun.net",
          "did_you_mean": null,
          "is_disposable_address": false,
          "is_role_address": false,
          "is_valid": true,
          "mailbox_verification": "true",
          "reason": null,
          "parts": {
            "display_name": null,
            "domain": "mailgun.net",
            "local_part": "alice"
          }
        }
  recorded_at: Mon, 24 Feb 2025 23:51:09 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v4/address/validate?address=alice@mailgun.net&mailbox_verification=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Basic realm="MG API"
    body:
      encoding: UTF-8
      string: '{"address": "alice@mailgun.net", "did_you_mean": null, "is_disposable_address":
              false, "is_role_address": false, "is_valid": true, "mailbox_verification":
              "true", "parts": {"display_name": null, "domain": "mailgun.net", "local_part":
              "alice"}}'
  recorded_at: Mon, 24 Feb 2025 23:51:09 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v4/address/validate?address=example.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Basic realm="MG API"
    body:
      encoding: UTF-8
      string: '{"address": "example.org", "did_you_mean": null, "is_disposable_address":
              false, "is_role_address": false, "is_valid": false, "mailbox_verification":
              "unknown", "parts": {"display_name": null, "domain": null, "local_part":
              null}}'
  recorded_at: Mon, 24 Feb 2025 23:51:10 GMT
recorded_with: VCR 3.0.3
