---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/v3/lists
    body:
      encoding: US-ASCII
      string: address=integration_test_list%40DOMAIN.TEST&name=Integration+Test+List&description=This+list+should+be+deleted+automatically.&access_level=members
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "list": {
            "access_level": "members",
            "address": "integration_test_list@DOMAIN.TEST",
            "created_at": "Mon, 26 Jul 2021 17:09:02 -0000",
            "description": "This list should be deleted automatically.",
            "members_count": 0,
            "name": "Integration Test List",
            "reply_preference": "list"
          },
          "message": "Mailing list has been created"
        }
  recorded_at: Mon, 26 Jul 2021 17:09:02 GMT
- request:
    method: post
    uri: https://api.mailgun.net/v3/lists/integration_test_list@DOMAIN.TEST/members
    body:
      encoding: US-ASCII
      string: address=integration_test_member_member%40DOMAIN.TEST&name=Jane+Doe&subscribed=true&upsert=no
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "member": {
            "address": "integration_test_member_member@DOMAIN.TEST",
            "name": "Jane Doe",
            "subscribed": true,
            "vars": {}
          },
          "message": "Mailing list member has been created"
        }
  recorded_at: Mon, 26 Jul 2021 17:09:03 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/lists/integration_test_list@DOMAIN.TEST/members/integration_test_member_member@DOMAIN.TEST
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "member": {
            "address": "integration_test_member_member@DOMAIN.TEST",
            "name": "Jane Doe",
            "subscribed": true,
            "vars": {}
          }
        }
  recorded_at: Mon, 26 Jul 2021 17:09:03 GMT
[...]
- request:
    method: delete
    uri: https://api.mailgun.net/v3/lists/integration_test_list@DOMAIN.TEST
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "address": "integration_test_list@DOMAIN.TEST",
          "message": "Mailing list has been removed"
        }
  recorded_at: Mon, 26 Jul 2021 17:09:06 GMT
recorded_with: VCR 3.0.3
