---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/v3/lists
    body:
      encoding: UTF-8
      string: access_level=members&address=integration_test_list%40&description=This+list+should+be+deleted+automatically.&name=Integration+Test+List
    headers:
      Authorization:
      - Basic xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: |-
        {
          "list": {
            "access_level": "members",
            "address": "integration_test_list@",
            "created_at": "Sun, 26 Jan 2025 07:29:23 -0000",
            "description": "This list should be deleted automatically.",
            "members_count": 0,
            "name": "Integration Test List",
            "reply_preference": "list"
          },
          "message": "Mailing list has been created"
        }
  recorded_at: Wed, 26 Feb 2025 18:55:07 GMT
- request:
    method: post
    uri: https://api.mailgun.net/v3/lists/integration_test_list@/members
    body:
      encoding: UTF-8
      string: address=integration_test_member_member%40&name=Jane+Doe&subscribed=true&upsert=no
    headers:
      Authorization:
      - Basic xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: |-
        {
          "member": {
            "address": "integration_test_member_member@",
            "name": "Jane Doe",
            "subscribed": true,
            "vars": {}
          },
          "message": "Mailing list member has been created"
        }
  recorded_at: Wed, 26 Feb 2025 18:55:08 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/lists/integration_test_list@/members/integration_test_member_member@
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: |-
        {
          "member": {
            "address": "integration_test_member_member@",
            "name": "Jane Doe",
            "subscribed": true,
            "vars": {}
          }
        }
  recorded_at: Wed, 26 Feb 2025 18:55:09 GMT
[...]
- request:
    method: delete
    uri: https://api.mailgun.net/v3/lists/integration_test_list@/members/integration_test_member_member@
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: '{"member":{"address":"integration_test_member_member@"},"message":"Mailing list member
        has been deleted"}

        '
  recorded_at: Wed, 26 Feb 2025 19:35:11 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/v3/lists/integration_test_list@
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
        - Basic xxx==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
        - inline
      Content-Type:
        - application/json
      X-Mailgun-Key-Id:
        - 90b59dea-f2d12a53
    body:
      encoding: UTF-8
      string: |-
        {
          "address": "integration_test_list@DOMAIN.TEST",
          "message": "Mailing list has been removed"
        }
  recorded_at: Wed, 26 Feb 2025 19:35:11 GMT
recorded_with: VCR 3.0.3
