---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/v3/lists
    body:
      encoding: US-ASCII
      string: address=integration_test_list%40DOMAIN.TEST&name=Integration%20Test%20List&description=This%20list%20should%20be%20deleted%20automatically.&access_level=members
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - inline
    body:
      encoding: UTF-8
      string: |-
        {
          "list": {
            "access_level": "members",
            "address": "integration_test_list@DOMAIN.TEST",
            "created_at": "Fri, 08 Jan 2016 20:22:42 -0000",
            "description": "This list should be deleted automatically.",
            "members_count": 0,
            "name": "Integration Test List"
          },
          "message": "Mailing list has been created"
        }
  recorded_at: Fri, 08 Jan 2016 20:22:43 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/lists/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
        <title>404 Not Found</title>
        <h1>Not Found</h1>
        <p>The requested URL was not found on the server.  If you entered the URL manually please check your spelling and try again.</p>
  recorded_at: Fri, 08 Jan 2016 20:22:43 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/lists?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - inline
    body:
      encoding: UTF-8
      string: |-
        {
          "items": [
            {
              "access_level": "members",
              "address": "integration_test_list@DOMAIN.TEST",
              "created_at": "Fri, 08 Jan 2016 20:22:42 -0000",
              "description": "This list should be deleted automatically.",
              "members_count": 0,
              "name": "Integration Test List"
            }
          ],
          "total_count": 1
        }
  recorded_at: Fri, 08 Jan 2016 20:22:44 GMT
[...]
- request:
    method: get
    uri: https://api.mailgun.net/v3/lists/integration_test_list@DOMAIN.TEST
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - inline
    body:
      encoding: UTF-8
      string: |-
        {
          "list": {
            "access_level": "members",
            "address": "integration_test_list@DOMAIN.TEST",
            "created_at": "Fri, 08 Jan 2016 20:22:42 -0000",
            "description": "This list should be deleted automatically.",
            "members_count": 0,
            "name": "Integration Test List"
          }
        }
  recorded_at: Fri, 08 Jan 2016 20:23:02 GMT
[...]
- request:
    method: post
    uri: https://api.mailgun.net/v3/lists
    body:
      encoding: UTF-8
      string: access_level=members&address=integration_test_list%40DOMAIN.TEST&description=This+list+should+be+deleted+automatically.&name=Integration+Test+List
    headers:
      Authorization:
      - Basic xxx==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
      X-Mailgun-Key-Id:
      - 90b59dea-f2d12a53
    body:
      encoding: UTF-8
      string: |-
        {
          "list": {
            "access_level": "members",
            "address": "integration_test_list@DOMAIN.TEST",
            "created_at": "Sun, 26 Jan 2025 07:29:27 -0000",
            "description": "This list should be deleted automatically.",
            "members_count": 0,
            "name": "Integration Test List",
            "reply_preference": "list"
          },
          "message": "Mailing list has been created"
        }
  recorded_at: Sun, 26 Jan 2025 07:29:27 GMT
[...]
- request:
    method: delete
    uri: https://api.mailgun.net/v3/lists/integration_test_list@DOMAIN.TEST
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
      X-Mailgun-Key-Id:
      - 90b59dea-f2d12a53
    body:
      encoding: UTF-8
      string: |-
        {
          "address": "integration_test_list@DOMAIN.TEST",
          "message": "Mailing list has been removed"
        }
  recorded_at: Sun, 26 Jan 2025 07:29:29 GMT
recorded_with: VCR 3.0.3
