---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/v3/routes
    body:
      encoding: UTF-8
      string: action=forward%28%22.%2A%40%22%29&description=Integration+Test+Route&expression=match_recipient%28%22alice%40%22%29&priority=10
    headers:
      Authorization:
      - Basic xxx==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: '{"message":"Route has been created","route":{"actions":["forward(\".*@\")"],"created_at":"Mon,
        27 Jan 2025 17:45:19 GMT","description":"Integration Test Route","expression":"match_recipient(\"alice@\")","id":"6797c62f6ee0a9fcb1ec5eee","priority":10}}

        '
  recorded_at: Mon, 27 Jan 2025 17:45:19 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/routes?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: '{"items":[{"actions":["forward(\".*@\")"],"created_at":"Mon, 27 Jan
        2025 17:45:19 GMT","description":"Integration Test Route","expression":"match_recipient(\"alice@\")","id":"6797c62f6ee0a9fcb1ec5eee","priority":10}],"total_count":1}

        '
  recorded_at: Mon, 27 Jan 2025 17:45:20 GMT
[...]
- request:
    method: get
    uri: https://api.mailgun.net/v3/routes/6797c62f6ee0a9fcb1ec5eee
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: '{"route":{"actions":["forward(\".*@\")"],"created_at":"Mon, 27 Jan
        2025 17:45:19 GMT","description":"Integration Test Route","expression":"match_recipient(\"alice@\")","id":"6797c62f6ee0a9fcb1ec5eee","priority":10}}

        '
  recorded_at: Mon, 27 Jan 2025 17:45:21 GMT
[...]
- request:
    method: post
    uri: https://api.mailgun.net/v3/routes
    body:
      encoding: UTF-8
      string: action=forward%28%22.%2A%40%22%29&action=stop%28%29&description=Integration+Test+Route&expression=match_recipient%28%22alice%40%22%29&priority=10
    headers:
      Authorization:
      - Basic xxx==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
      X-Mailgun-Key-Id:
      - c02fd0ba-d8dbad66
    body:
      encoding: UTF-8
      string: '{"message":"Route has been created","route":{"actions":["forward(\".*@\")","stop()"],"created_at":"Mon,
        27 Jan 2025 18:13:42 GMT","description":"Integration Test Route","expression":"match_recipient(\"alice@\")","id":"6797ccd69440716211d9df05","priority":10}}

        '
  recorded_at: Mon, 27 Jan 2025 18:13:42 GMT
recorded_with: VCR 3.0.3
