---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/v3/routes
    body:
      encoding: US-ASCII
      string: priority=10&description=Integration+Test+Route&expression=match_recipient%28%22alice%40DOMAIN.TEST%22%29&action=forward%28%22.*%40DOMAIN.TEST%22%29
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Route has been created",
          "route": {
            "actions": [
              "forward(\".*@DOMAIN.TEST\")"
            ],
            "created_at": "Fri, 08 Jan 2016 20:08:18 GMT",
            "description": "Integration Test Route",
            "expression": "match_recipient(\"alice@DOMAIN.TEST\")",
            "id": "5690173212573000be30671e",
            "priority": 10
          }
        }
  recorded_at: Mon, 26 Jul 2021 17:43:54 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/routes?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items": [
            {
              "actions": [
                "forward(\".*@DOMAIN.TEST\")"
              ],
              "created_at": "Fri, 08 Jan 2016 20:08:18 GMT",
              "description": "Integration Test Route",
              "expression": "match_recipient(\"alice@DOMAIN.TEST\")",
              "id": "5690173212573000be30671e",
              "priority": 10
            },
            {
              "actions": [
                "forward(\".*@DOMAIN.TEST\")"
              ],
              "created_at": "Fri, 08 Jan 2016 19:55:02 GMT",
              "description": "Integration Test Route",
              "expression": "match_recipient(\"alice@DOMAIN.TEST\")",
              "id": "5690141612573000b69c0e35",
              "priority": 10
            },
            {
              "actions": [
                "forward(\".*@DOMAIN.TEST\")"
              ],
              "created_at": "Fri, 08 Jan 2016 19:53:50 GMT",
              "description": "Integration Test Route",
              "expression": "match_recipient(\"alice@DOMAIN.TEST\")",
              "id": "569013ce11e2bdcea3fbcd1d",
              "priority": 10
            }
          ],
          "total_count": 3
        }
  recorded_at: Mon, 26 Jul 2021 17:43:55 GMT
[...]
- request:
    method: get
    uri: https://api.mailgun.net/v3/routes/5690173212573000be30671e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "route": {
            "actions": [
              "forward(\".*@DOMAIN.TEST\")"
            ],
            "created_at": "Fri, 08 Jan 2016 20:08:18 GMT",
            "description": "Integration Test Route",
            "expression": "match_recipient(\"alice@DOMAIN.TEST\")",
            "id": "5690173212573000be30671e",
            "priority": 10
          }
        }
  recorded_at: Mon, 26 Jul 2021 17:47:43 GMT
[...]
- request:
    method: delete
    uri: https://api.mailgun.net/v3/routes/5690173212573000be30671e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "5690173212573000be30671e",
          "message": "Route has been deleted"
        }
  recorded_at: Mon, 26 Jul 2021 17:47:43 GMT
recorded_with: VCR 3.0.3
