---
http_interactions:
- request:
    method: get
    uri: https://api.mailgun.net/v5/accounts/subaccounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
      X-Mailgun-Key-Id:
      - 1c7e8847-e7fad6d2
    body:
      encoding: UTF-8
      string: '{"subaccounts":[{"id":"xxx","name":"test-ruby-lib","status":"open"}],"total":1}

        '
  recorded_at: Mon, 20 Nov 2023 15:30:55 GMT
- request:
    method: post
    uri: https://api.mailgun.net/v5/accounts/subaccounts
    body:
      encoding: UTF-8
      string: name=test.subaccount
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
      X-Mailgun-Key-Id:
      - 1c7e8847-e7fad6d2
    body:
      encoding: UTF-8
      string: '{"subaccount":{"id":"xxx","name":"test.subaccount","status":"open"}}

        '
  recorded_at: Mon, 20 Nov 2023 15:33:05 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v5/accounts/subaccounts/xxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
      X-Mailgun-Key-Id:
      - 1c7e8847-e7fad6d2
    body:
      encoding: UTF-8
      string: '{"subaccount":{"id":"xxx","name":"test-ruby-lib","status":"open"}}

        '
  recorded_at: Mon, 20 Nov 2023 15:33:06 GMT
- request:
    method: post
    uri: https://api.mailgun.net/v5/accounts/subaccounts/xxx/enable
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
      X-Mailgun-Key-Id:
      - 1c7e8847-e7fad6d2
    body:
      encoding: UTF-8
      string: '{"subaccount":{"id":"xxx","name":"test-ruby-lib","status":"open"}}

        '
  recorded_at: Mon, 20 Nov 2023 15:33:06 GMT
- request:
    method: post
    uri: https://api.mailgun.net/v5/accounts/subaccounts/xxx/disable
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
      X-Mailgun-Key-Id:
      - 1c7e8847-e7fad6d2
    body:
      encoding: UTF-8
      string: '{"subaccount":{"id":"xxx","name":"test-ruby-lib","status":"disabled"}}

        '
  recorded_at: Mon, 20 Nov 2023 15:33:08 GMT
recorded_with: VCR 3.0.3
