---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/bounces
    body:
      encoding: UTF-8
      string: '[{"address":"test4@example.info","code":"500","error":"integration
        testing"},{"address":"test3@example.net","code":"500","error":"integration
        testing"},{"address":"test2@example.org","code":"500","error":"integration
        testing"},{"address":"test1@example.com","code":"500","error":"integration
        testing"}]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - XXX
      X-Request-Limit:
      - '2500'
      X-Request-Remaining:
      - '2499'
      X-Request-Reset:
      - '1774529969637'
    body:
      encoding: UTF-8
      string: '{"message":"4 addresses have been added to the bounces table"}

        '
  recorded_at: Thu, 26 Mar 2026 12:59:14 GMT
[...]
- request:
    method: get
    uri: https://api.mailgun.net/bounces/test777@example.info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - XXX
      X-Request-Limit:
      - '2500'
      X-Request-Remaining:
      - '2497'
      X-Request-Reset:
      - '1774529969637'
    body:
      encoding: UTF-8
      string: '{"address":"test777@example.info","code":"777","error":"integration
        testing123","created_at":"Thu, 26 Mar 2026 12:59:15 UTC"}

        '
  recorded_at: Thu, 26 Mar 2026 12:59:15 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/bounces/test1@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - XXX
      X-Request-Limit:
      - '2500'
      X-Request-Remaining:
      - '2496'
      X-Request-Reset:
      - '1774529969637'
    body:
      encoding: UTF-8
      string: '{"address":"test1@example.com","message":"Bounced address has been
        removed"}

        '
  recorded_at: Thu, 26 Mar 2026 12:59:16 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/bounces/test2@example.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - XXX
      X-Request-Limit:
      - '2500'
      X-Request-Remaining:
      - '2495'
      X-Request-Reset:
      - '1774529969637'
    body:
      encoding: UTF-8
      string: '{"address":"test2@example.org","message":"Bounced address has been
        removed"}

        '
  recorded_at: Thu, 26 Mar 2026 12:59:17 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/bounces/test3@example.net
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - XXX
      X-Request-Limit:
      - '2500'
      X-Request-Remaining:
      - '2494'
      X-Request-Reset:
      - '1774529969637'
    body:
      encoding: UTF-8
      string: '{"address":"test3@example.net","message":"Bounced address has been
        removed"}

        '
  recorded_at: Thu, 26 Mar 2026 12:59:17 GMT
[...]
- request:
    method: post
    uri: https://api.mailgun.net/unsubscribes
    body:
      encoding: UTF-8
      string: '[{"address":"test4@example.info","tag":"123"},{"address":"test3@example.net","tag":"123"},{"address":"test2@example.org","tag":"123"},{"address":"test1@example.com","tag":"123"}]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - XXX
      X-Request-Limit:
      - '2500'
      X-Request-Remaining:
      - '2491'
      X-Request-Reset:
      - '1774529969637'
    body:
      encoding: UTF-8
      string: '{"message":"4 addresses have been added to the unsubscribes table"}

        '
  recorded_at: Thu, 26 Mar 2026 12:59:19 GMT
- request:
    method: post
    uri: https://api.mailgun.net/unsubscribes
    body:
      encoding: UTF-8
      string: '[{"address":"test4@example.info","tags":["integration"]},{"address":"test3@example.net","tags":["integration"]},{"address":"test2@example.org","tags":["integration"]},{"address":"test1@example.com","tags":["integration"]}]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - XXX
      X-Request-Limit:
      - '2500'
      X-Request-Remaining:
      - '2490'
      X-Request-Reset:
      - '1774529969637'
    body:
      encoding: UTF-8
      string: '{"message":"4 addresses have been added to the unsubscribes table"}

        '
  recorded_at: Thu, 26 Mar 2026 12:59:20 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/unsubscribes/test1@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - XXX
      X-Request-Limit:
      - '2500'
      X-Request-Remaining:
      - '2489'
      X-Request-Reset:
      - '1774529969637'
    body:
      encoding: UTF-8
      string: '{"address":"test1@example.com","message":"Unsubscribe event has been
        removed"}

        '
  recorded_at: Thu, 26 Mar 2026 12:59:20 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/unsubscribes/test2@example.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - XXX
      X-Request-Limit:
      - '2500'
      X-Request-Remaining:
      - '2488'
      X-Request-Reset:
      - '1774529969637'
    body:
      encoding: UTF-8
      string: '{"address":"test2@example.org","message":"Unsubscribe event has been
        removed"}

        '
  recorded_at: Thu, 26 Mar 2026 12:59:21 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/unsubscribes/test3@example.net
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - XXX
      X-Request-Limit:
      - '2500'
      X-Request-Remaining:
      - '2487'
      X-Request-Reset:
      - '1774529969637'
    body:
      encoding: UTF-8
      string: '{"address":"test3@example.net","message":"Unsubscribe event has been
        removed"}

        '
  recorded_at: Thu, 26 Mar 2026 12:59:21 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/unsubscribes/test4@example.info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - XXX
      X-Request-Limit:
      - '2500'
      X-Request-Remaining:
      - '2486'
      X-Request-Reset:
      - '1774529969637'
    body:
      encoding: UTF-8
      string: '{"address":"test4@example.info","message":"Unsubscribe event has been
        removed"}

        '
  recorded_at: Thu, 26 Mar 2026 12:59:22 GMT
[...]
- request:
    method: get
    uri: https://api.mailgun.net/unsubscribes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - XXX
      X-Request-Limit:
      - '2500'
      X-Request-Remaining:
      - '2483'
      X-Request-Reset:
      - '1774529969637'
    body:
      encoding: UTF-8
      string: '{"items":[{"address":"test777@example.com","tags":["*"],"created_at":"Thu,
        26 Mar 2026 12:59:22 UTC"}],"paging":{"first":"https://api.mailgun.net/unsubscribes?limit=100&term=","last":"https://api.mailgun.net/unsubscribes?page=last&limit=100&term=","next":"https://api.mailgun.net/unsubscribes?page=next&address=test777%40example.com&limit=100&term=","previous":"https://api.mailgun.net/unsubscribes?page=previous&address=test777%40example.com&limit=100&term="}}

        '
  recorded_at: Thu, 26 Mar 2026 12:59:23 GMT
- request:
    method: post
    uri: https://api.mailgun.net/complaints
    body:
      encoding: UTF-8
      string: '[{"address":"test4@example.info"},{"address":"test3@example.net"},{"address":"test2@example.org"},{"address":"test1@example.com"}]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - XXX
      X-Request-Limit:
      - '2500'
      X-Request-Remaining:
      - '2482'
      X-Request-Reset:
      - '1774529969637'
    body:
      encoding: UTF-8
      string: '{"message":"4 complaint addresses have been added to the complaints
        table"}

        '
  recorded_at: Thu, 26 Mar 2026 12:59:24 GMT
[...]
- request:
    method: get
    uri: https://api.mailgun.net/complaints/test777@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - XXX
      X-Request-Limit:
      - '2500'
      X-Request-Remaining:
      - '2480'
      X-Request-Reset:
      - '1774529969637'
    body:
      encoding: UTF-8
      string: '{"address":"test777@example.com","created_at":"Thu, 26 Mar 2026 12:59:24
        UTC"}

        '
  recorded_at: Thu, 26 Mar 2026 12:59:25 GMT
[...]
- request:
    method: delete
    uri: https://api.mailgun.net/complaints/test2@example.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - XXX
      X-Request-Limit:
      - '2500'
      X-Request-Remaining:
      - '2477'
      X-Request-Reset:
      - '1774529969637'
    body:
      encoding: UTF-8
      string: '{"address":"test2@example.org","message":"Spam complaint has been removed"}

        '
  recorded_at: Thu, 26 Mar 2026 12:59:26 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/complaints/test3@example.net
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - XXX
      X-Request-Limit:
      - '2500'
      X-Request-Remaining:
      - '2476'
      X-Request-Reset:
      - '1774529969637'
    body:
      encoding: UTF-8
      string: '{"address":"test3@example.net","message":"Spam complaint has been removed"}

        '
  recorded_at: Thu, 26 Mar 2026 12:59:27 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/complaints/test4@example.info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - XXX
      X-Request-Limit:
      - '2500'
      X-Request-Remaining:
      - '2476'
      X-Request-Reset:
      - '1774529969637'
    body:
      encoding: UTF-8
      string: '{"address":"test4@example.info","message":"Spam complaint has been
        removed"}

        '
  recorded_at: Thu, 26 Mar 2026 12:59:27 GMT
[...]
- request:
    method: get
    uri: https://api.mailgun.net/v3?limit=100&term=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - XXX
      X-Request-Limit:
      - '2500'
      X-Request-Remaining:
      - '2473'
      X-Request-Reset:
      - '1774529969637'
    body:
      encoding: UTF-8
      string: '{"items":[],"paging":{"first":"https://api.mailgun.net/bounces?limit=100&term=","last":"https://api.mailgun.net/bounces?limit=100&term=","next":"https://api.mailgun.net/bounces?limit=100&term=","previous":"https://api.mailgun.net/bounces?limit=100&term="}}

        '
  recorded_at: Thu, 26 Mar 2026 12:59:28 GMT
recorded_with: VCR 6.4.0
