---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/bounces
    body:
      encoding: UTF-8
      string: '[{"address":"test4@example.info","code":"500","error":"integration
        testing"},{"address":"test3@example.net","code":"500","error":"integration
        testing"},{"address":"test2@example.org","code":"500","error":"integration
        testing"},{"address":"test1@example.com","code":"500","error":"integration
        testing"}]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"message":"4 addresses have been added to the bounces table"}'
  recorded_at: Tue, 25 Feb 2025 00:26:17 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/bounces/test1@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Bounced address has been removed"}'
  recorded_at: Tue, 25 Feb 2025 00:26:18 GMT
- request:
    method: post
    uri: https://api.mailgun.net/unsubscribes
    body:
      encoding: UTF-8
      string: '[{"address":"test4@example.info","tag":"integration"},{"address":"test3@example.net","tag":"integration"},{"address":"test2@example.org","tag":"integration"},{"address":"test1@example.com","tag":"integration"}]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"message":"4 addresses have been added to the unsubscribes table"}'
  recorded_at: Tue, 25 Feb 2025 00:26:18 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/unsubscribes/test1@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Unsubscribe event has been removed"}'
  recorded_at: Tue, 25 Feb 2025 00:26:18 GMT
- request:
    method: post
    uri: https://api.mailgun.net/complaints
    body:
      encoding: UTF-8
      string: '[{"address":"test4@example.info"},{"address":"test3@example.net"},{"address":"test2@example.org"},{"address":"test1@example.com"}]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"message":"4 complaint addresses have been added to the complaints
        table"}'
  recorded_at: Tue, 25 Feb 2025 00:26:19 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/complaints/test1@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Spam complaint has been removed"}'
  recorded_at: Tue, 25 Feb 2025 00:26:19 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/bounces/test2@example.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Bounced address has been removed"}

        '
  recorded_at: Tue, 25 Feb 2025 00:49:48 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/bounces/test3@example.net
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
        - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Bounced address has been removed"}

        '
  recorded_at: Tue, 25 Feb 2025 00:49:48 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/bounces/test4@example.info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
        - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Bounced address has been removed"}

        '
  recorded_at: Tue, 25 Feb 2025 00:49:48 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/unsubscribes/test2@example.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Unsubscribe event has been removed"}

        '
  recorded_at: Tue, 25 Feb 2025 00:49:48 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/unsubscribes/test3@example.net
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
        - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Unsubscribe event has been removed"}

        '
  recorded_at: Tue, 25 Feb 2025 00:49:48 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/unsubscribes/test4@example.info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
        - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Unsubscribe event has been removed"}

        '
  recorded_at: Tue, 25 Feb 2025 00:49:48 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/complaints/test2@example.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"message":"Spam complaint has been removed"}

        '
  recorded_at: Sun, 26 Jan 2025 07:29:45 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/complaints/test3@example.net
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
        - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"message":"Spam complaint has been removed"}

        '
  recorded_at: Sun, 26 Jan 2025 07:29:45 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/complaints/test4@example.info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
        - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"message":"Spam complaint has been removed"}

        '
  recorded_at: Sun, 26 Jan 2025 07:29:45 GMT
recorded_with: VCR 3.0.3
