---
http_interactions:
- request:
    method: get
    uri: https://api.mailgun.net/v3/DOMAIN.TEST/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"tag":"You can track mails as tag-units!","description":"","first-seen":"2023-06-25T15:17:53.604Z","last-seen":"2023-06-25T15:23:40.474Z"},{"tag":"abtest-option-a","description":"new
        desc","first-seen":"2021-02-19T00:00:00Z","last-seen":"2024-01-25T12:55:58.293Z"}],"paging":{"previous":"https://api.mailgun.net/v3/DOMAIN.TEST/tags?limit=1000&page=prev&tag=","first":"https://api.mailgun.net/v3/DOMAIN.TEST/tags?limit=1000&page=first&tag=","next":"https://api.mailgun.net/v3/DOMAIN.TEST/tags?limit=1000&page=next&tag=","last":"https://api.mailgun.net/v3/DOMAIN.TEST/tags?limit=1000&page=last&tag="}}

'
  recorded_at: Thu, 25 Jan 2024 13:35:59 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/DOMAIN.TEST/tags/abtest-option-a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"tag":"abtest-option-a","description":"new desc","first-seen":"2021-02-19T00:00:00Z","last-seen":"2024-01-25T12:55:58.293Z"}

'
  recorded_at: Thu, 25 Jan 2024 13:37:42 GMT
[...]
- request:
    method: get
    uri: https://api.mailgun.net/v3/DOMAIN.TEST/tags/abtest-option-a/stats?event=new%20description%202&resolution=day&start=Tue,%2023%20Jan%202024%2011:23:45%20EST
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"event ''new description 2'' is not valid"}

'
  recorded_at: Thu, 25 Jan 2024 13:42:54 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/DOMAIN.TEST/tags/abtest-option-a/stats?event=accepted&resolution=day&start=Tue,%2023%20Jan%202024%2011:23:45%20EST
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"tag":"abtest-option-a","description":"new description 2","start":"Tue,
        23 Jan 2024 00:00:00 UTC","end":"Thu, 25 Jan 2024 00:00:00 UTC","resolution":"day","stats":[{"time":"Tue,
        23 Jan 2024 00:00:00 UTC","accepted":{"incoming":0,"outgoing":0,"total":0}},{"time":"Wed,
        24 Jan 2024 00:00:00 UTC","accepted":{"incoming":0,"outgoing":0,"total":0}},{"time":"Thu,
        25 Jan 2024 00:00:00 UTC","accepted":{"incoming":0,"outgoing":1,"total":1}}]}

'
  recorded_at: Thu, 25 Jan 2024 13:43:14 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/DOMAIN.TEST/tags/abtest-option-a/stats/aggregates/countries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"country":{"ad":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ae":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"af":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ag":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ai":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"al":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"am":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"an":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ao":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"aq":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ar":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"as":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"at":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"au":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"aw":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ax":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"az":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ba":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"bb":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"bd":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"be":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"bf":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"bg":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"bh":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"bi":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"bj":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"bl":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"bm":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"bn":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"bo":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"br":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"bs":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"bt":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"bv":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"bw":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"by":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"bz":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ca":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"cc":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"cd":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"cf":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"cg":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ch":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ci":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ck":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"cl":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"cm":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"cn":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"co":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"cr":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"cu":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"cv":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"cx":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"cy":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"cz":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"de":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"dj":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"dk":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"dm":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"do":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"dz":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ec":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ee":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"eg":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"eh":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"er":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"es":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"et":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"fi":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"fj":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"fk":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"fm":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"fo":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"fr":{"clicked":0,"complained":0,"opened":3,"unique_clicked":0,"unique_opened":2,"unsubscribed":0},"ga":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"gb":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"gd":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ge":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"gf":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"gg":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"gh":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"gi":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"gl":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"gm":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"gn":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"gp":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"gq":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"gr":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"gs":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"gt":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"gu":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"gw":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"gy":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"hk":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"hm":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"hn":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"hr":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ht":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"hu":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"id":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ie":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"il":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"im":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"in":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"io":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"iq":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ir":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"is":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"it":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"je":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"jm":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"jo":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"jp":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ke":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"kg":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"kh":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ki":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"km":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"kn":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"kp":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"kr":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"kw":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ky":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"kz":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"la":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"lb":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"lc":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"li":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"lk":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"lr":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ls":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"lt":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"lu":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"lv":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ly":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ma":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"mc":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"md":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"me":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"mf":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"mg":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"mh":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"mk":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ml":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"mm":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"mn":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"mo":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"mp":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"mq":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"mr":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ms":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"mt":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"mu":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"mv":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"mw":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"mx":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"my":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"mz":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"na":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"nc":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ne":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"nf":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ng":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ni":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"nl":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"no":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"np":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"nr":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"nu":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"nz":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"om":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"pa":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"pe":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"pf":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"pg":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ph":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"pk":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"pl":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"pm":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"pn":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"pr":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ps":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"pt":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"pw":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"py":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"qa":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"re":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ro":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"rs":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ru":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"rw":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"sa":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"sb":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"sc":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"sd":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"se":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"sg":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"sh":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"si":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"sj":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"sk":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"sl":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"sm":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"sn":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"so":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"sr":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ss":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"st":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"sv":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"sy":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"sz":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"tc":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"td":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"tf":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"tg":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"th":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"tj":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"tk":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"tl":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"tm":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"tn":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"to":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"tr":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"tt":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"tv":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"tw":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"tz":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ua":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ug":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"um":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"unknown":{"clicked":0,"complained":0,"opened":15,"unique_clicked":0,"unique_opened":13,"unsubscribed":0},"us":{"clicked":0,"complained":0,"opened":10,"unique_clicked":0,"unique_opened":9,"unsubscribed":0},"uy":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"uz":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"va":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"vc":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ve":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"vg":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"vi":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"vn":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"vu":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"wf":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ws":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"ye":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"yt":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"za":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"zm":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0},"zw":{"clicked":0,"complained":0,"opened":0,"unique_clicked":0,"unique_opened":0,"unsubscribed":0}},"tag":"abtest-option-a"}

'
  recorded_at: Thu, 25 Jan 2024 13:57:02 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/DOMAIN.TEST/tags/abtest-option-a/stats/aggregates/providers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
[...]
