---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/v3/integration-test.domain.invalid/templates
    body:
      encoding: UTF-8
      string: name=test.template&description=Test&template=%7B%7Bfname%7D%7D+%7B%7Blname%7D%7D&comment=test+comment&headers=%7B%22Subject%22%3A+%22%7B%7Bsubject%7D%7D%22%7D&tag=V1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic YXBpOmFjZWM0YzA1YjFmMmZjZWJjZjY4ZGE2NDVkYTAwMjMxLTQxM2UzNzNjLTBhYWQzYzM3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - 413e373c-0aad3c37
    body:
      encoding: UTF-8
      string: '{"message":"template has been stored","template":{"name":"test.template","description":"Test","createdAt":"Sun,
        15 Oct 2023 15:33:22 UTC","createdBy":"","id":"b6894275-acd8-49da-ae60-04ea61f860e0","version":{"tag":"v1","template":"{{fname}}
        {{lname}}","engine":"handlebars","mjml":"","createdAt":"Sun, 15 Oct 2023 15:33:22
        UTC","comment":"test comment","active":true,"id":"2eb9b5cf-2a5d-4b12-a3bb-74bd4ef946aa","headers":{"Subject":"{{subject}}"}}}}

'
  recorded_at: Sun, 15 Oct 2023 15:33:22 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/integration-test.domain.invalid/templates/test.template
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmFjZWM0YzA1YjFmMmZjZWJjZjY4ZGE2NDVkYTAwMjMxLTQxM2UzNzNjLTBhYWQzYzM3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - 413e373c-0aad3c37
    body:
      encoding: UTF-8
      string: '{"template":{"name":"test.template","description":"Test","createdAt":"Sun,
        15 Oct 2023 15:33:22 UTC","createdBy":"","id":"b6894275-acd8-49da-ae60-04ea61f860e0"}}

'
  recorded_at: Sun, 15 Oct 2023 15:37:06 GMT
[...]
- request:
    method: get
    uri: https://api.mailgun.net/v3/integration-test.domain.invalid/templates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmFjZWM0YzA1YjFmMmZjZWJjZjY4ZGE2NDVkYTAwMjMxLTQxM2UzNzNjLTBhYWQzYzM3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - 413e373c-0aad3c37
    body:
      encoding: UTF-8
      string: '{"items":[{"name":"api test","description":"Petro","createdAt":"Sun,
        17 Sep 2023 09:16:33 UTC","createdBy":"","id":"03474355-4818-492f-8a40-7dec43354bf9"},{"name":"petro.test","description":"Petro","createdAt":"Sun,
        08 Oct 2023 13:52:28 UTC","createdBy":"","id":"1dc4114c-6eea-41df-a66c-6ad78a481629"},{"name":"test
        name","description":"template description","createdAt":"Sun, 17 Sep 2023 09:07:40
        UTC","createdBy":"","id":"4e35b965-3151-421d-8523-4b100b8e0428"},{"name":"test.template","description":"Updated
        Description","createdAt":"Sun, 15 Oct 2023 15:33:22 UTC","createdBy":"","id":"b6894275-acd8-49da-ae60-04ea61f860e0"}],"paging":{"first":"https://api.mailgun.net/v3/integration-test.domain.invalid/templates?limit=100","last":"https://api.mailgun.net/v3/integration-test.domain.invalid/templates?page=last&limit=100","next":"https://api.mailgun.net/v3/integration-test.domain.invalid/templates?page=next&p=test.template&limit=100","previous":"https://api.mailgun.net/v3/integration-test.domain.invalid/templates?page=previous&p=api+test&limit=100"}}

'
  recorded_at: Sun, 15 Oct 2023 17:09:40 GMT
[...]
- request:
    method: post
    uri: https://api.mailgun.net/v3/integration-test.domain.invalid/templates/test.template/versions
    body:
      encoding: UTF-8
      string: template=%7B%7Bfname%7D%7D+%7B%7Blname%7D%7D&comment=test+comment&headers=%7B%22Subject%22%3A+%22%7B%7Bsubject%7D%7D%22%7D&tag=V2&active=yes
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic YXBpOmFjZWM0YzA1YjFmMmZjZWJjZjY4ZGE2NDVkYTAwMjMxLTQxM2UzNzNjLTBhYWQzYzM3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - 413e373c-0aad3c37
    body:
      encoding: UTF-8
      string: '{"message":"new version of the template has been stored","template":{"name":"test.template","description":"Test","createdAt":"Sun,
        15 Oct 2023 17:16:39 UTC","createdBy":"","id":"7cc6ae25-4d2c-450e-b771-b0611328b8b0","version":{"tag":"v2","template":"{{fname}}
        {{lname}}","engine":"handlebars","mjml":"","createdAt":"Sun, 15 Oct 2023 17:19:10
        UTC","comment":"test comment","active":true,"id":"36616e31-3a79-490f-9202-4d388d67b164","headers":{"Subject":"{{subject}}"}}}}

'
  recorded_at: Sun, 15 Oct 2023 17:19:10 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/integration-test.domain.invalid/templates/test.template/versions/v2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmFjZWM0YzA1YjFmMmZjZWJjZjY4ZGE2NDVkYTAwMjMxLTQxM2UzNzNjLTBhYWQzYzM3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - 413e373c-0aad3c37
    body:
      encoding: UTF-8
      string: '{"template":{"name":"test.template","description":"Test","createdAt":"Sun,
        15 Oct 2023 17:16:39 UTC","createdBy":"","id":"7cc6ae25-4d2c-450e-b771-b0611328b8b0","version":{"tag":"v2","template":"{{fname}}
        {{lname}}","engine":"handlebars","mjml":"","createdAt":"Sun, 15 Oct 2023 17:19:10
        UTC","comment":"test comment","active":true,"id":"36616e31-3a79-490f-9202-4d388d67b164","headers":{"Subject":"{{subject}}"}}}}

'
  recorded_at: Sun, 15 Oct 2023 17:21:10 GMT
[...]
- request:
    method: get
    uri: https://api.mailgun.net/v3/integration-test.domain.invalid/templates/test.template/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmFjZWM0YzA1YjFmMmZjZWJjZjY4ZGE2NDVkYTAwMjMxLTQxM2UzNzNjLTBhYWQzYzM3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - 413e373c-0aad3c37
    body:
      encoding: UTF-8
      string: '{"template":{"name":"test.template","description":"Test","createdAt":"Sun,
        15 Oct 2023 17:16:39 UTC","createdBy":"","id":"7cc6ae25-4d2c-450e-b771-b0611328b8b0","versions":[{"tag":"v1","engine":"handlebars","mjml":"","createdAt":"Sun,
        15 Oct 2023 17:16:39 UTC","comment":"test comment","active":false,"id":"695f8e2c-ed36-4fb8-bed2-903afa458768"},{"tag":"v2","engine":"handlebars","mjml":"","createdAt":"Sun,
        15 Oct 2023 17:19:10 UTC","comment":"test comment 2","active":true,"id":"36616e31-3a79-490f-9202-4d388d67b164"}]},"paging":{"first":"https://api.mailgun.net/v3/integration-test.domain.invalid/templates/test.template/versions?limit=100","last":"https://api.mailgun.net/v3/integration-test.domain.invalid/templates/test.template/versions?page=last&limit=100","next":"https://api.mailgun.net/v3/integration-test.domain.invalid/templates/test.template/versions?page=next&p=v2&limit=100","previous":"https://api.mailgun.net/v3/integration-test.domain.invalid/templates/test.template/versions?page=previous&p=v1&limit=100"}}

'
  recorded_at: Sun, 15 Oct 2023 17:26:01 GMT
[...]
- request:
    method: delete
    uri: https://api.mailgun.net/v3/integration-test.domain.invalid/templates/test.template/versions/v2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmQ5MTViNWNkYjlhNTgzNjg1ZDhmM2ZiMWJlYzBmMjBmLTA3YmM3YjA1LWZhNDgxNmEx
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"domain not found"}

'
  recorded_at: Sun, 15 Oct 2023 17:30:22 GMT
recorded_with: VCR 3.0.3
