---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/v3/DOMAIN.TEST/templates
    body:
      encoding: US-ASCII
      string: name=integration_test&description=Just+testing&template=%3Cp%3ETest%21%3C%2Fp%3E
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"message":"template has been stored","template":{"name":"integration_test","description":"Just testing","createdAt":"Mon, 26 Jul 2021 19:43:50 UTC","createdBy":"","id":"e623fcb5-f911-40b4-8559-4bfc054781b9","version":{"tag":"initial","template":"<p>Test!</p>","engine":"handlebars","mjml":"","createdAt":"Mon, 26 Jul 2021 19:43:50 UTC","comment":"","active":true,"id":"0b86433c-97d6-4a92-bdac-5f6aecff4a93"}}}
  recorded_at: Mon, 26 Jul 2021 19:43:49 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/DOMAIN.TEST/templates/integration_test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"template":{"name":"integration_test","description":"Just testing","createdAt":"Mon, 26 Jul 2021 19:43:50 UTC","createdBy":"","id":"e623fcb5-f911-40b4-8559-4bfc054781b9"}}
  recorded_at: Mon, 26 Jul 2021 19:46:09 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/DOMAIN.TEST/templates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"items":[{"name":"brand_1_invite","description":"Invitation Email for Brand 1","createdAt":"Mon, 26 Jul 2021 19:32:04 UTC","createdBy":"","id":"121c5fcd-d822-43d7-a04c-3b8ab7d9f24a"},{"name":"integration_test","description":"Just testing","createdAt":"Mon, 26 Jul 2021 19:43:50 UTC","createdBy":"","id":"e623fcb5-f911-40b4-8559-4bfc054781b9"},{"name":"integrationtest","description":"Just testing","createdAt":"Mon, 26 Jul 2021 19:39:33 UTC","createdBy":"","id":"878dd9d3-dea2-4333-b85b-8ee8a8d28058"}],"paging":{"first":"https://api.mailgun.net/v3/DOMAIN.TEST/templates?limit=100","last":"https://api.mailgun.net/v3/DOMAIN.TEST/templates?page=last&limit=100","next":"https://api.mailgun.net/v3/DOMAIN.TEST/templates?page=next&p=integrationtest&limit=100","previous":"https://api.mailgun.net/v3/DOMAIN.TEST/templates?page=previous&p=brand_1_invite&limit=100"}}
  recorded_at: Mon, 26 Jul 2021 19:50:02 GMT
[...]
- request:
    method: post
    uri: https://api.mailgun.net/v3/DOMAIN.TEST/templates/integration_test/versions
    body:
      encoding: US-ASCII
      string: active=yes&template=%3Cp%3ENew+verion%21%3C%2Fp%3E&tag=v2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"message":"new version of the template has been stored","template":{"name":"integration_test","description":"Just testing the update","createdAt":"Mon, 26 Jul 2021 19:43:50 UTC","createdBy":"","id":"e623fcb5-f911-40b4-8559-4bfc054781b9","version":{"tag":"v2","template":"<p>New verion!</p>","engine":"handlebars","mjml":"","createdAt":"Mon, 26 Jul 2021 19:56:02 UTC","comment":"","active":true,"id":"c9f3245d-53ba-48ab-a848-486d3cb1c30a"}}}
  recorded_at: Mon, 26 Jul 2021 19:56:01 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/v3/DOMAIN.TEST/templates/integration_test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED_PRIVATE_KEY_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"message":"template has been deleted","template":{"name":"integration_test"}}
  recorded_at: Mon, 26 Jul 2021 22:21:11 GMT
recorded_with: VCR 3.0.3
