---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/v3/domains/DOMAIN.TEST/webhooks
    body:
      encoding: UTF-8
      string: id=accepted&url=http%3A%2F%2Fexample.com%2Fmailgun%2Fevents%2Faccepted
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic YXBpOmFjZWM0YzA1YjFmMmZjZWJjZjY4ZGE2NDVkYTAwMjMxLTQxM2UzNzNjLTBhYWQzYzM3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - 413e373c-0aad3c37
    body:
      encoding: UTF-8
      string: '{"message":"Webhook has been created","webhook":{"urls":["http://example.com/mailgun/events/accepted"]}}

'
  recorded_at: Sun, 05 Nov 2023 15:35:13 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/domains/DOMAIN.TEST/webhooks/accepted
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmFjZWM0YzA1YjFmMmZjZWJjZjY4ZGE2NDVkYTAwMjMxLTQxM2UzNzNjLTBhYWQzYzM3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - 413e373c-0aad3c37
    body:
      encoding: UTF-8
      string: '{"webhook":{"urls":["http://example.com/mailgun/events/accepted"]}}

'
  recorded_at: Sun, 05 Nov 2023 15:35:14 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/domains/DOMAIN.TEST/webhooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmFjZWM0YzA1YjFmMmZjZWJjZjY4ZGE2NDVkYTAwMjMxLTQxM2UzNzNjLTBhYWQzYzM3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - 413e373c-0aad3c37
    body:
      encoding: UTF-8
      string: '{"webhooks":{"accepted":{"urls":["http://example.com/mailgun/events/accepted"]},"clicked":{"urls":["https://webhook.site/096cdc2e-e460-450c-a008-36d6f0db71f4"]}}}

'
  recorded_at: Sun, 05 Nov 2023 15:35:14 GMT
[...]
- request:
    method: delete
    uri: https://api.mailgun.net/v3/domains/DOMAIN.TEST/webhooks/accepted
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmFjZWM0YzA1YjFmMmZjZWJjZjY4ZGE2NDVkYTAwMjMxLTQxM2UzNzNjLTBhYWQzYzM3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailgun-Key-Id:
      - 413e373c-0aad3c37
    body:
      encoding: UTF-8
      string: '{"message":"Webhook has been deleted","webhook":{"urls":["http://example.com/mailgun/events/accepted"]}}

'
  recorded_at: Sun, 05 Nov 2023 15:35:16 GMT
recorded_with: VCR 3.0.3
